// Colors constants

// Logo
$background-color: #f4f4f4;
$logo-background-enabled: #3C72FF;
$logo-background-disabled: #C9C6C5;

// Text colors
$text-white: #FFFF;
$text-gray: #C9C6C5;
$text-black: #382E28;

// Common colors
$color-white: #FFFF;
$color-grey: #C9C6C5;
$color-grey-light: #efeceb;
$color-blue: #3B72FF;
